<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document_</title>
  <script src="./lib/vue-2.4.0.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css"/>
</head>

<body>
    <div id="app">
      <cmt-box @func="loadComment"></cmt-box>

      <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人: {{item.user}}</span>
            {{item.content}}
        </li>
      </ul>
    </div>

    <template id="commentTemplate">
      <div>
          <div class="form-group">
            <label>评论人：</label> 
            <input type="text" class="form-control" v-model="user">
          </div>
          <div class="form-group">
            <label>评论内容：</label> 
            <textarea type="text" class="form-control" v-model="content"></textarea>
          </div>
          <div class="form-group">
            <input type="button" value="评论" class="btn btn-primary" @click="postComment">
          </div>
      </div>
    </template>

    <script>
      localStorage.clear()
      var commentBox = {
        template: '#commentTemplate',
        data() {
          return {
            user: '',
            content: ''
          }
        },
        methods: {
          postComment() {
            var comment = {
              user: this.user,
              content: this.content
            }
            var list = JSON.parse(localStorage.getItem('cmts') || '[]');//字符串 转化为 Javascript对象
            list.unshift(comment)
            localStorage.setItem('cmts', JSON.stringify(list)) //Javascript对象 转化为 字符串
            this.user = this.content = ''
            this.$emit('func')
          }
        }
      }
      //父组件
      var vm = new Vue({
        el: '#app',
        data: {
          list: [
            { id: Date.now(), user: '李白', content: '天生我材必有用' },
            { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
            { id: Date.now(), user: '小马', content: '我姓马， 风吹草低见牛羊的马' }
          ]
        },
        methods: {
          loadComment() {
            var list = JSON.parse(localStorage.getItem('cmts') || '[]')
            if(list.length > 0) {
              this.list = list
            }
          }
        },
        components: {
          //子组件
          'cmt-box': commentBox
        }
      });
    </script>

</body>
</html>